* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #ffff;
}

#controls {
  padding: 10px;
  background: #ffffff;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
}

#controls input[type="color"],
#controls input[type="range"],
#controls input[type="text"] {
  height: 30px;
}

#controls button {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #aaa;
  background-color: #e0e0e0;
  border-radius: 5px;
}

#controls button:hover {
  background-color: #d0d0d0;
}

.whiteboard {
  display: block;
  width: 100%;
  height: calc(100vh - 60px);
  cursor: crosshair;
}
